/* A sample HTML 4 style sheet, taken from the CSS2 specification
**
** Copyright 2001-2002 pinc Software. All Rights Reserved.
*/

B { display: inline }
A { display: inline }
I { display: inline }
U { display: inline }
FONT { display: inline }
SPAN { display: inline }
STRONG { display: inline }
CODE { display: inline }
SCRIPT { display: none }
STYLE { display: none }
HEAD { display: none }
P { margin-bottom: 5px }
H1 { font-size: 2em;
	 margin-bottom: 5px; }
H2 { font-size: 1.5em;
	 margin-bottom: 5px; }
H3 { font-size: 1.1em;
	 margin-bottom: 5px; }
