/* 
	Simple CSS stylesheet used to display html.
*/

B { display: inline;
	font-weight: bold }
A { display: inline;
	color: blue }
I { display: inline;
	font-style: italic }
U { display: inline }
EM { display: inline;
	 font-style: italic }
FONT { display: inline }
SPAN { display: inline }
STRONG { display: inline }
CODE { display: inline }
SCRIPT { display: none }
STYLE { display: none }
HEAD { display: none }
P { margin-bottom: 5px }
H1 { font-size: 2em;
	 margin-bottom: 5px}
H2 { font-size: 1.5em;
	 margin-bottom: 5px}
H3 { font-size: 1.1em;
	 margin-bottom: 5px}
LI { display: block;
     list-style-type: square}
TABLE { display: table;
		border-style: solid }
TR { display: table-row;
	 border-style: solid }
TD { display: table-cell;
	 border-style: solid;
	 margin-right: 2px }
